<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js" ></script>
    <script src="/javascripts/general.js" ></script>
  </head>
  <body>
    <div id="container">
        <div id="navigation">
            <p>GT games</p>
            <a href="/login">Login</a>
            <a href="/">Home</a>
        </div>
        <form id="registerForm" action="register" method="post" style="height:300px;">
            <p class="error"><%= error %></p>
            <div>Username:<input type="text" name="username" /></div><br />
            <div>Password:<input type="password" name="password" /></div><br />
            <div><img src="/captcha.jpg" style="margin-left:50px;" /></div><br />
            <div>Write the symbols:<input type="text" name="captcha" /></div><br />
            <div><input id="registerBtn" type="submit" value="Register"></div>
        </form>
    </div>
    
  </body>
</html>